*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: darkkhaki;
    color: palegoldenrod;
    padding: 20px;
}

nav ul{
    background-color: palegoldenrod;
    width: 100%;
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: darkkhaki;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: lightgoldenrodyellow;
}

img{
    width: 200px;
    height: 200px;
}

.portada{
    width: 200%;
    height: 100%;
    display: flex;
}

.contenido{
    display: flex;
    margin: 60px;
    text-align: left;
}

.logo{
    width: 110%;
    height: auto;
    border-radius: 50%;
    display: flex;
}

.articulos{
    width: 80%;
    border-right: 3px solid darkkhaki;
    display: flex;
}

.secciones{
    display: flex;
    padding: 30px;
}

.carrusel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10%;
}

.d-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    text-align: center;
}


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

*{
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

#oferta,
#producto,
#tienda {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 2px 3px black;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#Galeria {
    margin: 15px;
    float: left;
    font-size: 14px;
}

.desc {
    background-color: white;
}

#id_oso {
    padding: 15px;
}

footer{
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: palegoldenrod;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: darkkhaki;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem;
}
.redes li{
    margin: 0 10px;
}
.redes a{
    text-decoration: none;
    color: darkkhaki;
}
.redes a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.redes a:hover i{
    color: lightcyan;
}
.footer-bottom{
    background: darkkhaki;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: palegoldenrod;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: -4;
    font-weight: 200;
}
