{% extends 'Registro/base/base.html' %} 

{% block titulo_principal %} Formulario {% endblock %}

<!--Esta página fue creada para agregar un formulario.-->
{% block content %}
    <h1>Agregar formulario</h1>
    
    <div class="content container">
    <form method="POST">
        {% csrf_token %} {{ form }}
        <!--También añadimos un botón para grabar y para volver al home.-->
        <button type="submit-success" class="btn btn-success">Grabar</button>
        <td><a class="btn btn-success" href="{% url 'home'%}">Volver</a></td>
    </form>
    </div>

{% endblock %}